/*VARIABLES*/

body {
  font-family: "DM Sans", sans-serif;
}

/*HEADER BANNER*/

.headerBanner {
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .headerBanner {
    flex-direction: row;
    align-items: center;
    padding: 40px 100px;
  }
}

.headerBanner img {
  width: 150px;
  height: auto;
}

@media (min-width: 1200px) {
  .headerBanner img {
    width: 200px;
  }
}

/*BODY*/

.photographer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

@media (min-width: 1200px) {
  .photographer {
    position: relative;
    margin: 0 100px;
    padding: 60px 35px 50px 65px;
    background: #fafafa;
  }
}

#name {
  color: #d3573c;
  font-weight: 400;
  font-size: 2.4em;
  margin: 0;
}

@media (min-width: 1200px) {
  #name {
    font-size: 2.8em;
  }
}

#location {
  color: #901c1c;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  display: block;
}

@media (min-width: 1200px) {
  #location {
    font-size: 1.2em;
  }
}

#tagline {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  #tagline {
    display: block;
    font-size: 0.9em;
    margin: 15px 0;
  }
}

.photographer img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .photographer img {
    width: 200px;
    height: 200px;
  }
}

/*NAVIGATION*/

.filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

ul {
  padding: 0;
  margin: 5px, 0, 5px, 0;
}

li {
  display: flex;
  border: 0.5px solid #c4c4c4;
  border-radius: 30px;
  margin: 3px 6px 3px 0;
  color: #fff;
  padding: 2px 7px;
  font-weight: 500;
  font-size: 0.8em;
}
li:hover {
  cursor: pointer;
  background: #901c1c;
  border-color: #901c1c;
}

li:hover a {
  color: #fff;
}

li a {
  text-decoration: none;
  color: #901c1c;
}

li a {
  color: #901c1c;
}

/*MODAL BUTTON*/

.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-btn {
  background: #901c1c;
  width: 170px;
  height: 35px;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  position: fixed;
  transform: translateX(-50%);
  bottom: 28px;
  cursor: pointer;
}

.modal-btn:hover {
  background: #db8876;
  color: rgb(12, 11, 11);
}

@media (min-width: 1200px) {
  .modal-btn {
    position: absolute;
    left: 480px;
    top: 60px;
    transform: translateX(0);
    height: 70px;
  }
}

/*RECTANGLE LIKE & PRICE*/
#rectangleLikePrice {
  display: none;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
  right: 40px;
  background: #db8876;
  width: 376px;
  height: 89px;
  border-radius: 5px;
  padding: 0 35px;
  font-weight: 500;
  font-size: 1.2em;
}

i {
  position: relative;
  left: -100px;
}

@media (min-width: 1200px) {
  #rectangleLikePrice {
    display: flex;
  }
}

/*CONTENU PHOTOS VIDEOS*/

.photographerPhVid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 45px 0;
  padding: 0 20 px;
}

@media (min-width: 1200px) {
  .photographerPhVid {
    margin: 45px 100px;
    padding: 0;
    justify-content: space-between;
  }
}

.contentPhotoVideo {
  width: 335px;
  margin: 0 0 10px 0;
  font-size: 1.1em;
  font-weight: 500;
  color: #901c1c;
}

@media (min-width: 1200px) {
  .contentPhotoVideo {
    width: 350px;
    margin: 0 5xp 10px 5px;
  }
}

.imgVidList {
  width: 335px;
  height: 190px;
  object-fit: cover;
  border-radius: 5px;
}

@media (min-width: 1200px) {
  .imgVidList {
    width: 350px;
    height: 300px;
  }
}

.titleContent {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.titlePhotoVideo {
  width: 225px;
  margin: 0;
}

h2 {
  font-size: 1em;
  font-weight: 400;
}

.fa-heart {
  margin-left: 5px;
}
