.photographerSort {
  position: relative;
  margin: 20px 0 0 20px;
  display: none;
}

@media (min-width: 1200px) {
  .photographerSort {
    display: block;
    margin-left: 100px;
  }
}

.photographerSort__Title {
  font-weight: 700;
  margin-right: 25px;
  font-size: 1.2rem;
}

select {
  position: absolute;
  top: -7px;
  left: 120px;

  width: 165px;
  color: #fff;
  background: #901c1c;

  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  align-items: center;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

select:hover {
  background-color: #651414;
  cursor: pointer;
}

option {
  padding: 20px;
  font-size: 1.2rem;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

option:hover {
  background-color: #651414;
  cursor: pointer;
}
